<h3>Add Team</h3>
<div class="row">
    <form action="/teams" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="foundationDate" name="foundationDate">
                <label for="foundationDate">Foundation Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="website" name="website">
                <label for="website">Website</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="nationalCups" name="nationalCups">
                <label for="nationalCups">National Cups</label>
            </div>
        </div>        

        <div class="row">
            <div class="input-field">
                <input type="number" id="internationalCups" name="internationalCups">
                <label for="internationalCups">International Cups</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="stadiumName" name="stadiumName">
                <label for="stadiumName">Stadium Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="city" name="city">
                <label for="city">City</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>