<h3><i class="fa-regular fa-futbol"></i>Sport Teams</h3>
<div class="section">
    <p class="lead">Explore the teams and add new ones</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>